.wrapper {
  margin: 16px 0;
  background-color: #E8F1FF;
}

.nameCard {
  border: 1px solid #d9d9d9;
  border-radius: 6;
  padding: 8px 12px;
  background: #fff;
  height: 120px;
  border-radius: 8px;
}

.cardItem {
  gap: 16px;
  margin: 8px 4px;
}

.cardTitle {
  min-width: 80px;
  display: inline-block;
}

.cardBold {
  font-weight: 600;
  font-size: 1.6rem;
}